@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto&display=swap');

@layer base {
    body {
        @apply font-[Roboto];
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-[Poppins]
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    height: 250px;
}

/* .content-div-overlay {
    transition-duration: 300ms;
} */
.content-div-overlay:hover {
    background-image: linear-gradient(
        to right,
        rgba(20, 207, 128, 0.5),
        rgba(106, 123, 118, 0.5)  
    )!important;
    backdrop-filter: blur(3px);
}

.svg-color-accent {
    filter: invert(67%) sepia(35%) saturate(5258%) hue-rotate(111deg) brightness(103%) contrast(84%);
}

.svg-color-secondary {
    filter: invert(54%) sepia(2%) saturate(2078%) hue-rotate(112deg) brightness(84%) contrast(88%);
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}